doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body
        mixin h2(value, index)
            h2 No #{index}. pug can be used in #{value}
        header
            if admin
                button(type = "submit").btn#btn Login
        h1= heading
        each value, index in uses
            +h2(value, index)
            